*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: url('submenu.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 100px;
    
}
.calculater{
    
    width: 100%;
    height: 500px;
    padding: 15px;
    border-radius: 40px;
    background:black;
    max-width: 350px;
    
    
}
#result{
    width: 90%;
    height: 50px;
    font-size: 30px;
    text-align: right;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 15px;
    border: none;
    margin-top: 20px;
    margin-left: 15px;
}
.buttons{

    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
button{
    height: 50px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background-color: white;

}
button:active{
    background: #bbb;
}
.zero
{
    grid-column: span 2;
}
.equal{
    grid-row:span 2;
    background: linear-gradient(to top,#fe9b05,#e83232);
    
}
@media (max-width:480px){
    .calculater{
        max-width: 100%;
        height: auto;
    }
    button{
        height: 55px;
        font-size: 16px;
    }
    #result{
        height: 55px;
        font-size: 20px;
    }
}
#c1{
    background: linear-gradient(to top,#fe9b05,#e83232);

}
#c2{
    background-color: rgb(222, 213, 213);
}
